<h1>New Post</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="posted_on">Posted on</label>
    <input type="integer" name="posted_on">
  </p>
  
  <button>Submit</button>
</form>


<!--
      t.string "title"
      t.text "description"
      t.date "posted_on"
      t.integer "place_id"
-->
